name: Despliegue a Azure Container App

on:
  # El segundo workflow debe escuchar el evento 'repository_dispatch'
  repository_dispatch:
    types: [deploy_azure_container]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          
      # 2. Despliegue a Azure Container App
      - name: Desplegar imagen a Azure Container App
        uses: azure/container-apps-deploy-action@v1
        with:
          # Sustituye estos valores con los de tu entorno Azure
          resourceGroup: 'UNA-CHAT'
          containerAppName: 'una-chat-app'
          # Se usa el tag de la imagen que se leyó del evento disparador
          imageToDeploy: ${{ secrets.DOCKER_USERNAME }}/lab5:latest
          targetPort: 3000
          

          environmentVariables: |
            PORT=3000
            NODE_ENV=production
            SECRET=${{ secrets.JWT_SECRET }}
            BASE_URL=${{ secrets.BASE_URL }}
            CLIENT_ID=${{ secrets.CLIENT_ID }}
            ISSUER_BASE_URL=${{ secrets.ISSUER_BASE_URL }}
            ALLOWED_ORIGINS=${{ secrets.ALLOWED_ORIGINS }}
            OTEL_TRACES_EXPORTER=${{ secrets.OTEL_TRACES_EXPORTER }}
            OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=${{ secrets.OTEL_EXPORTER_OTLP_TRACES_ENDPOINT }}
            OTEL_NODE_RESOURCE_DETECTORS=${{ secrets.OTEL_NODE_RESOURCE_DETECTORS }}
            OTEL_SERVICE_NAME=${{ secrets.OTEL_SERVICE_NAME }}
            OTEL_EXPORTER_OTLP_HEADERS='${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}'

      - name: Disparar (Trigger) el Workflow de Nuclei
        # Este paso notifica a otro workflow (que tú crearás) que la imagen está lista.
        uses: peter-evans/repository-dispatch@v3
        with:
          # Usamos el token automático de GitHub. Asegúrate que las 'Workflow permissions' 
          # en la configuración del repo estén en 'Read and write'.
          token: ${{ secrets.GITHUB_TOKEN }} 
          # Nombre del evento que el otro workflow debe escuchar
          event-type: nuclei