name: Despliegue a Azure Container App

on:
  repository_dispatch:
    types: [deploy_azure_container]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          
      - name: Desplegar imagen a Azure Container App
        run: |
          REVISION_SUFFIX="r${{ github.event.client_payload.run_number || github.run_number }}"
          
          az containerapp update \
            --name una-chat-app \
            --resource-group UNA-CHAT \
            --image ${{ secrets.DOCKER_USERNAME }}/lab5:latest \
            --revision-suffix $REVISION_SUFFIX \
            --set-env-vars \
              PORT=3000 \
              NODE_ENV=production \
              SECRET=${{ secrets.JWT_SECRET }} \
              BASE_URL=${{ secrets.BASE_URL }} \
              CLIENT_ID=${{ secrets.CLIENT_ID }} \
              ISSUER_BASE_URL=${{ secrets.ISSUER_BASE_URL }} \
              ALLOWED_ORIGINS="${{ secrets.ALLOWED_ORIGINS }}"
          
          echo "✅ Despliegue completado con revisión: $REVISION_SUFFIX"

      - name: Disparar (Trigger) el Workflow de Nuclei
        # Este paso notifica a otro workflow (que tú crearás) que la imagen está lista.
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }} 
          event-type: nuclei