name: CI
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run Nuclei
      uses: projectdiscovery/nuclei-action@main
      with:
        target: "https://una-chat-app.bluepebble-d90e530f.westus2.azurecontainerapps.io/"
        github-report: true
        github-token: ${{ secrets.GITHUB_TOKEN }}
