name: CI
on: 

repository_dispatch:
    types: [nuclei]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run Nuclei
      uses: projectdiscovery/nuclei-action@main
      with:
        target: ${{ secrets.BASE_URL }}
        github-report: true
        github-token: ${{ secrets.GITHUB_TOKEN }}
